## Python basics

In [17]:
print("hello cse13")

hello cse13

In [19]:
print(5, 'apple', sep= '--')

5--apple

In [20]:
fruits = ['orange', 'apple', 'banana']
print (fruits)

['orange', 'apple', 'banana']

In [22]:
fruits = ['orange', 'apple', 'banana']
s = '|'.join(fruits)
print (s)
print(s.split('|'))   # split() is the opposite of join()
print('%s costs %f' %('apple', 2.45))  #%s expects a string and %f expects a floating point number
print("%s costs %f" %('orange', 1.98)) # %d will treat it as a integer

orange|apple|banana
['orange', 'apple', 'banana']
apple costs 2.450000
orange costs 1.980000

In [26]:
a = list(range(5))
print(a)

# a.append('99')
# print(a)

a.append(50)
print(a)

# a.append('hi')
# print(a)

[0, 1, 2, 3, 4]
[0, 1, 2, 3, 4, '99']
[0, 1, 2, 3, 4, '99', 50]
[0, 1, 2, 3, 4, '99', 50, 'hi']

In [41]:
fruits = ['orange', 'apple', 'banana']
print(fruits)

item = fruits.pop(0)
print(fruits)
print(item)

fruits1 = ['orange', 'apple', 'banana']
item1 = fruits1.pop(1)
print(fruits1)
print(item1)

['orange', 'apple', 'banana']
['apple', 'banana']
orange
['orange', 'banana']
apple

In [42]:
print(item, 'removed, Now remaining: ', fruits)

#insert kiwi
fruits.insert(1, 'kiwi')
print(fruits)

orange removed, Now remaining:  ['apple', 'banana']
['apple', 'kiwi', 'banana']

In [47]:
b = list('hello')
print(b)

print('-'.join(b))

print('abc ' * 3)

print('-,- ' * 5)

['h', 'e', 'l', 'l', 'o']
h-e-l-l-o
abc abc abc
-,- -,- -,- -,- -,-

In [60]:
c = list(range(20))
print('current list- ',c)

print('spliced with 2 steps- ', c[5:17:2]) # this is splicing - will print from 5 to (17-1) with steps of 2
print('from 5 to 17-1', c[5:17])   # start to end-1
print('reverse traversal with 2 steps- ', c[17:5:-2]) # 17 to 5 with -2 steps
print('reversing list- ', c[::-1])  # reverse list

current list-  [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]
spliced with 2 steps-  [5, 7, 9, 11, 13, 15]
from 5 to 17-1 [5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16]
reverse traversal with 2 steps-  [17, 15, 13, 11, 9, 7]
reversing list-  [19, 18, 17, 16, 15, 14, 13, 12, 11, 10, 9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

In [67]:
multiplier = lambda a: lambda x: x*a #CONSTRUCTOT
by5 = multiplier(5) # OBJECT 1 to multiply with 5
by3 = multiplier(3) # OBJECT 2 to multiply with 3
print(by5(4))
print(by3(4))

# class Multiplier{}
fruits1 = ['orange', 'apple', 'banana']
fruits1.reverse()
print(fruits1)

20
12
['banana', 'apple', 'orange']

# **Inbuilt Data Structures**

In [92]:
# DICTIONARY DATA STRUCTURE
# DICT1 = {key:values}

dict1 = {'name': 'Archit', 'roll': 22053579, 'state': 'Odisha', 'gender':'male'}
print('-' * 20)
print(dict1)
# Print value wrt key
print(dict1['state'])

#mutating the state
dict1['state'] = 'WB'
print(dict1)

#adding another key : value
dict1['age'] = 21
print(dict1)

print('  ')

# finding types of all
print(type(dict1))
print(type(fruits))
print(type(5))
print(type('apple'))

print('  ')
print(' Check existence of values ')
print('-' * 20)
# Check existence of values in dict1 and fruits- will return true or false
print('hostel' in dict1)
print('state' in dict1)
print('kiwi' in fruits)
print('guava' in fruits)

print('  ')
print(' Printing all fruits ')
print('-' * 20)
#Printing all fruits
for fruit in fruits:
    print(fruit)

print('  ')
print(' Printing the dictionary  ')
print('-' * 20)
for key in dict1:
    print(key, "=", dict1[key])

--------------------
{'name': 'Archit', 'roll': 22053579, 'state': 'Odisha', 'gender': 'male'}
Odisha
{'name': 'Archit', 'roll': 22053579, 'state': 'WB', 'gender': 'male'}
{'name': 'Archit', 'roll': 22053579, 'state': 'WB', 'gender': 'male', 'age': 21}

<class 'dict'>
<class 'list'>
<class 'int'>
<class 'str'>

 Check existence of values
--------------------
False
True
True
False

 Printing all fruits
--------------------
banana
kiwi
apple

 Printing the dictionary
--------------------
name = Archit
roll = 22053579
state = WB
gender = male
age = 21
{'apple', 'kiwi', 'orange'}
<class 'set'>

In [94]:
# SET DATA STRUCTURE

myset = {'apple', "kiwi", 'orange', 'apple'}
print(myset)
print(type(myset))

print('apple' in myset)
print('guava' in myset)

{'apple', 'kiwi', 'orange'}
<class 'set'>
True
False

In [101]:
# TUPLE DATA STRUCTURE

data = ('Kaushal', 294, 'Delhi', 'M', 20)
#data[2] = 'Guwahati'  # not possible because tuple is immutable/unchangeable
#data.append('kp16')  # not possible because tuple is immutable/unchangeable


print('-' * 20)
print(data)     # TUPLE - VALUES IN PARENTHESIS
print(type(data))
print('-' * 20)


list1 =list(data)
list1[2] = 'Guwahati' # Possible as lists are mutable like dictionary and set but not (tuple and string)
list1.append('kp16')  # Possible as lists are mutable like dictionary and set but not (tuple and string)
print(list1)   # LIST - VALUES IN SQUARE BRACKET
print(type(list1))

--------------------
('Kaushal', 294, 'Delhi', 'M', 20)
<class 'tuple'>
--------------------
['Kaushal', 294, 'Guwahati', 'M', 20, 'kp16']
<class 'list'>